/* // fonts */
@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Poppins&family=Roboto:ital@1&family=Titillium+Web:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

/* root */
:root {
  --border: #232223;
  --main: #1d1c1d;
  --green: #15cf81;
  --green-f: #39d98d;
}

body {
  background-color: var(--main);
}

/* 1rem to 10px */
html {
  font-size: 62.5%;
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
